/* -------------------------- *\
    .benefits
\* -------------------------- */

.benefits {
	/*padding-bottom: 0;*/

	@mixin min 768 {
		padding-top: 9.5rem;
		padding-bottom: 6.5rem;
	}

	.shell {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;

		@mixin min 768 {
			flex-direction: row;
			justify-content: space-between;
		}
	}

	&__item {
		position: relative;
		width: 100%;
		overflow: hidden;
		@mixin tra;

		&:hover {
			img {
				opacity: .5;
			}

			.benefits__title {
				text-shadow: 0 0 .5rem #fff;
			}
		}

		@mixin min 768 {
			display: flex;
			width: 48.7%;
			align-items: center;
			padding: 2.5rem 0;
			margin: 0 0 4rem 0;

			&:nth-last-child(-n+2) {
				margin: 0;
			}
		}

		&:after {
			position: absolute;
			content:'';
			top: 0;
			left: 0;
			width: 100%;
			height: 100rem;
			background: rgba(220, 0, 0, .70);
			z-index: 5;
		}

		&--black {
			&:after {
				position: absolute;
				content:'';
				top: 0;
				left: 0;
				width: 100%;
				height: 100rem;
				background: rgba(0, 0, 0, .70);
				z-index: 5;
			}
		}

		img {
			position: absolute;
			object-fit: cover;
			min-width: 100%;
			min-height: 100%;
			top: 0;
			left: 0;
			height: 50%;
			z-index: 5;
		}
	}

	&__content {
		z-index: 10;
		position: relative;
		color: #fff;
		display: flex;
		flex-direction: column;
		padding: 2.5rem 2rem;

		@mixin min 768 {
			position: relative;
			flex-direction: row;
			padding: 0 4.5rem;
		}

		.benefits__title {
			width: 100%;
			font-size: 2rem;
			font-weight: 400;
			text-align: center;

			@mixin min 768 {
				text-align: left;
				margin-bottom: 2rem;
			}
		}
		
		.icon {
			display: flex;
			align-items: center;
			font-size: 5rem;
			justify-content: center;
			padding-top: 2.5rem;
			order: 2;

			@mixin min 768 {
				padding-top: 0;
			}
		}
		
		&--info {
			flex-direction: column;
			padding: 0;

			@mixin min 768 {
				padding: 0 0 0 4.5rem;
				order: 2;
			}
		}

		p {
			font-size: 1.5rem;
			font-weight: 400;
			margin-bottom: 0;
		}
	}

	.btn {
		padding-top: 5rem;
	}
}
