.prices {
	.shell {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	&__item {
		position: relative;
		width: 30rem;
		height: 48rem;
		background: #fff;
		border: 1rem solid #fcefef;
		border-radius: 2rem;
		margin-right: 4rem;
		animation-name: pulse;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-direction: alternate;

        &:nth-child(3){
        	margin-right: 0;
        }

        &:hover {
        	.prices__btn {
        		/*display: none;*/
        		animation-name: scale2;
		        animation-duration: .6s;
		        animation-iteration-count: infinite;
        	}
        }
	}

	&__header {
		position: relative;
		top: 6rem;
		height: 6rem;

		.item__price {
			position: absolute;
			bottom: 0;
			margin: 0;
			left: 2.5rem;
			font-size: 3rem;
			font-weight: 700;
			background: linear-gradient(to right, #ff4e4e, #e72f2f);
			-webkit-background-clip: text;
  			-webkit-text-fill-color: transparent;
		}

		p {
			position: relative;
			top: 0;
			left: 2.5rem;
			font-size: 1.5rem;
			font-weight: 400;
			color: #000;
			text-transform: uppercase;
			margin: 0;
		}
		
		&:before {
			content: '';
			position: absolute;
			width: 1rem;
			height: 6rem;
			background-image: linear-gradient(to bottom, #ff4e4e, #e72f2f);
			border-radius: 0 .5rem .5rem 0;
		}
	} 

	&__included {
		position: relative;

		ul {
			position: absolute;
			top: 9rem;
			width: 100%;
			list-style-type: none;
			padding-bottom: 3rem;

			li {
				position: relative;
				width: 75%;
				margin: 0;
				font-size: 1.2rem;
				font-weight: 400;
				color: #879097;
				line-height: 3.8rem;
				left: 3rem;

				&:nth-last-child(1){
					&:after {
						display: none;
					}
				}

				&:before {
					content: '-';
					position: relative;
					margin-right: 2rem;
				}

				&:after {
					content: ' ';
					position: absolute;
					bottom: 0;
					left: 0;
					width: 100%;
					border: .1rem solid rgba(0,0,0, .03);
				}
			}
		}
	}

	&__btn {
		position: absolute;
		width: 100%;
		bottom: 3rem;
		text-align: center;
		text-transform: uppercase;
		animation-name: shake;
		animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-direction: alternate;

        &:nth-child(2){
        	animation-duration: 3s;
        }

        &:nth-child(3){
        	animation-duration: 1.5s;
        }

		
		a {
			font-size: 1.3rem;
			font-weight: 400;
			color: #fff;
			background-image: linear-gradient(to right, #ff4e4e, #e72f2f);
			padding: 1rem 3rem;
			border-radius: 5rem;
			box-shadow: 0 1.5rem .8rem rgba(247,188,188,.5);
		}	
	}
}