.block {
	padding-top: 4rem; 

	@mixin min 768 {
		padding-top: 8.5rem;
	}

	.photography {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		flex-direction: row;

		&__left {
			order: 2;
			display: flex;
			flex-direction: column;
			/*justify-content: center;*/
			align-items: center;

			@mixin min 768 {
				order: 1;
				width: 46%;
				/*border: .3rem solid green;*/
			}

			&--mod {
				display: flex;
				/*flex-wrap: wrap;*/
				flex-direction: column;
				padding-bottom: 4rem;
				align-items: center;

				@mixin min 1024 {
					padding-bottom: 3rem;
					flex-direction: row;
				}
			}

			img {
				/*order: 1;*/
				text-align: center;
				padding-bottom: 1.8rem;

				@mixin min 768 {
					/*order: 3;*/
					margin-right: 6rem;
				}
			}		
		}

		&__right {
			position: relative;
			order: 1;
			padding-bottom: 4rem;

			@mixin min 768 {
				order: 2;
				width: 45%;
			}

			&--contentImg {
				position: relative;
				z-index: 5;

				@mixin min 1024 {
					width: 70%;
					height: 100%;
					padding-left: 2rem;
				}

				img {

					@mixin min 1024 {
						position: relative;
						z-index: 10;
						object-fit: cover;
						min-width: 100%;
						min-height: 100%;
					}
				}
			}

			&--darkLogo {
				/*position: relative;*/
				/*z-index: 2;*/
				background: #000;
				
				/*width: 100%;*/
				/*height: 20rem;*/
				/*width: 20rem;*/

				@mixin min 1024 {
					position: absolute;
					margin-top: 2rem;
					width: 100%;
					height: 31rem;
					transform: rotate(0);
				}

				img {
					/*padding: 2.9rem;*/
					transform: rotate(-90deg);
					position: relative;
					padding: 0;

					@mixin min 1024 {
						position: absolute;
						object-fit: cover;
						right: 0;
						background: #000;
						padding: 4rem 3.5rem 4rem 0;
						height: 100%;
						transform: rotate(0);
					}
				}
			}

			a {
				position: absolute;
				text-transform: uppercase;
				bottom: 5rem;
				right: 3rem;
				font-size: 1.5rem;
				font-weight: 400;
			}
		}
	}

	p {
		font-family: 'FontAwesome5Pro';
		padding-top: 1.8rem;
		font-size: 1.5rem;
		font-weight: 300;
		line-height: 1.8rem;
		letter-spacing: .01rem;
	}

	.link {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		@mixin min 768 {
			justify-content: flex-start;
		}
	}
}